@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
body{
    box-sizing: border-box;
    background-color: black;
    text-transform: uppercase;
    font-family: "Russo One", sans-serif;
    font-weight: 900;
    color: rgb(247, 222, 83);
    font-size: 16px;
    height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 7vh;
}
.title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 4rem;
    letter-spacing: 10px;
}
.input {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input.inactive{
    display: none;
}
.timer {
    margin-bottom: 4rem;
    font-size: 2rem;
    text-align: center;
}
.button {
    background: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 3px solid rgb(247, 222, 83);
    cursor: pointer;
    border-radius: 10px;
    color: rgb(247, 222, 83);
    background-color: #444040;
    font-size: 1rem;
    padding: 10px 20px;
}
.input__item{
    width: 15rem;
    height: 5rem;
    font-size: 3rem;
    border: 3px solid rgb(247, 222, 83);
    border-radius: 4px;
}

.output {
    display: none;
}
.output.active{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.output.active .output__timer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 10px solid rgb(204, 34, 62);
    width: 20rem;
    height: 20rem;
    background-color: rgb(247, 222, 83);
    margin-bottom: 3rem;
}

.timer__item{
    font-size: 5em;
    color: rgb(204, 34, 62);
    margin-right: 1rem;
}
.timer__item:last-child{
    margin-right: 0;
}

@media screen and (max-width: 500px) {
    .title{
        font-size: 3rem;
    }
    .timer {
        font-size: 1rem;
    }
    .input__item{
        width: 7rem;
        height: 3rem;
        font-size: 1.5rem;
    }
    .output.active .output__timer{
        width: 15rem;
        height: 15rem;
    }
}